body{
font-family:Arial, Helvetica, sans-serif;
display:flex;
margin:0;
padding:0;
}
.sidebar{
width:200px;
background-color: black;
color:white;
height:100vh;
padding-top:20px;
position:fixed;
left:0; 
top:0;
}
.sidebar h2{
color:white;
text-align:center;
}
.sidebar ul{
list-style:none;
padding:0px;
}
.sidebar ul li{
margin:20px 0;
}
.sidebar ul li a{
text-decoration:none;
color:white;
padding:10px; 
display:block;
}
.sidebar ul li a:hover{
background-color:white;
color:black;
}
.maincontainer{
margin-left:220px;
padding:-20px;
}
.sections{
padding:20px;
background-color:azure;
margin-bottom:20px;
border-left:5px solid blue;
border-radius:10px;
}
.sections:after{
content:"end of the section";
display:block;
font-style:italic;
font-size:14px;
color:gray;
margin-top:10px;
}
:target{
background-color:aquamarine;
border-left:5px groove rgb(0, 0, 7);
}
